.host-container {
  &__no-hosts {
    width: 440px;
    margin: 35px auto;
    font-size: 15px;
    font-weight: $normal;
    line-height: 2;
    letter-spacing: normal;
    color: rgba(32, 37, 50, 0.66);

    h1 {
      font-size: 32px;
      font-weight: $normal;
      line-height: normal;
      letter-spacing: normal;
      color: #48c586;
    }

    h2 {
      font-size: 16px;
      font-weight: $bold;
      line-height: 1.5;
      letter-spacing: -0.5px;
      color: rgba(32, 37, 50, 0.66);
    }

    ul {
      margin: 0;
      padding-left: 20px;
    }
  }

  &__no-hosts-contact {
    text-align: right;
    margin-top: 30px;

    p {
      margin: 0;
    }
  }

  &__pager-wrap {
    flex-basis: 100%;
    margin: 55px 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__pagination {
    margin: 0 25px 0 0;
    padding: 0;
    font-family: "Oxygen", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

    .rc-pagination-prev,
    .rc-pagination-next,
    .rc-pagination-item {
      border: 1px solid $success;
      font-size: 15px;
      box-sizing: border-box;
      border-radius: 3px;

      a {
        color: $success;
        font-weight: bold;
      }
    }

    .rc-pagination-prev {
      a {
        &::after {
          @extend %kolidecon;
          content: '\f006';
        }
      }
    }

    .rc-pagination-next {
      a {
        &::after {
          @extend %kolidecon;
          content: '\f008';
        }
      }
    }

    .rc-pagination-item {
      border: 0;

      &:hover {
        background-color: $success-light;

        a {
          color: $white;
        }
      }
    }

    .rc-pagination-jump-prev:after,
    .rc-pagination-jump-next::after {
      color: $success;
    }

    .rc-pagination-disabled {
      opacity: 0.25;
    }

    .rc-pagination-item-active {
      background-color: $success;

      a {
        color: $white;
      }
    }

    .rc-pagination-jump-prev:hover::after,
    .rc-pagination-jump-next:hover::after {
      font-size: 22px;
      line-height: 20px;
    }
  }

  &__pager-count {
    flex-basis: 100%;
    margin: 15px 0 0;
  }

  &__count-select {
    width: 120px;

    .Select-control {
      border-color: $success;
      border-radius: 3px;
      height: 30px;
    }

    .Select-value {
      box-shadow: none;
    }

    &.Select--single > .Select-control .Select-value {
      line-height: 30px;
      border: 0;
    }

    .Select-input {
      height: 30px;
    }
  }

  &__pager-range {
    margin: 0;
  }

  &--grid {
    @include display(flex);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
    @include align-content(center);
    margin: 0 auto;
  }
}
