.user-settings {
  @include display(flex);

  h1 {
    margin: 0;
    font-weight: $light;
    font-size: 20px;
    letter-spacing: 1px;
    color: $text-medium;
  }

  &__manage {
    @include flex-grow(1);
    @include align-self(flex-start);
    padding: 30px;
  }

  &__additional {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    box-sizing: border-box;
    padding: 30px;
  }
}
