.user-settings {
  @include display(flex);

  h1 {
    font-size: 24px;
    font-weight: $light;
    line-height: 1.33;
    letter-spacing: 1px;
    color: $text-dark;
    margin: 0;
  }

  &__manage {
    @include flex-grow(1);
    @include align-self(flex-start);
    padding: 30px;
  }

  &__additional {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    box-sizing: border-box;
    padding: 30px;
  }
}
