.new-host {
  &__section-wrap {
    margin-bottom: $pad-base;
    padding: 30px;
  }

  &__title {
    margin: 0 0 32px;
  }

  &__input-wrap {
    position: relative;
    margin: 0 0 23px;
  }

  &__input {
    color: $text-ultradark;
    border-radius: 3px;
    background-color: $white;
    border: solid 1px $accent-dark;
    box-shadow: inset 0 0 8px 0 rgba($black, 0.12);
    box-sizing: border-box;
    font-family: SourceCodePro, Oxygen;
    font-size: $medium;
    height: 60px;
    letter-spacing: 1.2px;
    opacity: 0.8;
    padding-left: 28px;
    width: 100%;
  }

  &__clipboard-text {
    color: $brand;
    font-size: $xsmall;
    position: absolute;
    right: 10px;
    top: 0;
  }

  &__clipboard-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 18px;
    font-size: $large;
    color: $text-medium;

    &--copied {
      color: $brand-light;
    }
  }

  &__text {
    color: $text-ultradark;
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 $large;
    max-width: 860px;

    p {
      margin: 0;
    }

    .kolide-ol {
      margin: 0;
    }
  }

  code {
    color: $brand;
    font-family: SourceCodePro, Oxygen;
  }
}
