.queries-list {
  padding: 30px;
  background-color: $white;
  border: 1px solid $accent-dark;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;

  &__table {
    border-collapse: collapse;
    width: 100%;
    min-height: 132px;
  }
}
