.queries-list {
  &__wrapper {
    @include transition(top 150ms ease-in);
    background-color: $white;
    border: 1px solid $accent-dark;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    min-height: 132px;
    position: relative;
    top: -126px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;

    &--query-selected {
      top: 0;
    }
  }
}
