# binaries
kolide-ose
*.exe

# output directories
build
vendor
node_modules

# generated artifacts
server/bindata.go
kolide/mock_osquery.go
*.cover
*.test
*.log

# operating system artifacts
.DS_Store
