.queries-list-wrapper {
  &__query-count {
    font-size: 20px;

    span {
      background-color: $brand;
      border-radius: 14px;
      color: $white;
      display: inline-block;
      line-height: 26px;
      height: 26px;
      text-align: center;
      width: 44px;
    }
  }

  &__queries-list-wrapper {
    margin-top: $pad-base;
  }

  &__search-queries-input {
    float: left;
    display: inline-block;
    width: '400px';
  }

  &__add-new-query-btn {
    float: right;
  }

  &__wrapper {
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid $silver;
    margin-top: $pad-base;
    padding: $pad-small $pad-base;
  }
}
