.queries-list-wrapper {
  &__add-query-btn {
    @extend .button;
    @extend .button--brand;
    font-size: 15px;
    text-decoration: none;
  }

  &__add-query-btn-icon {
    margin-right: 10px;
  }

  &__search-queries-input {
    width: '400px';
  }

  &__wrapper {
    background-color: $accent-light;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid $silver;
    margin-top: $pad-base;
    padding: $pad-small $pad-base;
  }
}
