.host-details {
  @include flex-grow(1);
  background-color: $white;
  border: 1px solid $silver;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba($black, 0.05);
  box-sizing: border-box;
  height: 300px;
  padding: $pad-half;
  margin: 30px 15px 0 0;
  position: relative;
  text-align: center;
  min-width: 240px;
  max-width: 300px;

  @media (min-width: 1619px) {
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  @media (min-width: 1364px) and (max-width: 1618px) {
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @media (max-width: 1363px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &--online {
    border-top: 6px solid $success;

    .host-details__status {
      color: $success;
    }
  }

  &--offline {
    border-top: 6px solid $alert;

    .host-details__status {
      color: $alert;
    }
  }

  &--mia {
    border-top: 6px solid $text-dark;

    .host-details__status {
      color: $text-dark;
    }
  }

  &__status {
    font-size: $medium;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  &__add-query {
    float: right;

    span {
      display: block;
      color: $text-medium;
      font-size: 13px;
      letter-spacing: 0;
    }
  }

  &__add-query-icon {
    color: $brand;
    font-size: 20px;
  }

  &__hostname {
    font-size: 12px;
    font-weight: $bold;
    letter-spacing: 1px;
    text-align: center;
    color: $link;
    clear: both;
    margin: 0;
  }

  &__details-list {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
    border-top: 1px solid $accent-light;
    border-bottom: 1px solid $accent-light;
    list-style: none;
    margin: 8px auto;
    padding: 8px 0;
    max-width: 80%;
  }

  &__detail {
    font-size: 14px;
    font-weight: $light;
    color: $text-ultradark;
    padding: 4px 0;
    text-align: center;

    .kolidecon {
      color: $text-light;
      font-size: 19px;
      margin-right: 9px;
    }

    &--os,
    &--mac,
    &--ip {
      @include flex-basis(100%);
    }

    &--memory,
    &--cpu,
    &--osquery,
    &--uptime {
      @include flex-basis(50%);
    }
  }

  &__tag-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style: none;
    position: relative;

    &::before {
      @extend %kolidecon;
      content: '\f033';
      font-size: 24px;
      position: absolute;
      left: 6px;
      top: 12px;
      color: $text-medium;
    }
  }

  &__tag {
    font-size: 14px;
    font-weight: $light;
    color: $text-ultradark;
    float: left;

    &::after {
      content: ',';
      margin-right: 3px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
