.query-composer {
  &__btn-wrapper {
    margin-top: $base;
    text-align: right;
  }

  &__run-query-btn {
    float: right;
  }

  &__save-query-btn {
    margin-right: $xsmall;
  }

  &__targets {
    h2 {
      float: left;
      font-size: 16px;
      font-weight: $bold;
      letter-spacing: -0.3px;
      color: $text-dark;
    }
  }

  &__target-select {
    clear: both;
    padding-top: 5px;
  }

  &__wrapper {
    .body-wrap {
      padding: $base;
    }

    h1 {
      font-size: $large;
      font-weight: $light;
      letter-spacing: 1.2px;
      color: $text-medium;
      margin: 0;
      float: left;
    }
  }
}
