.site-nav-header {
  @include transition(background 150ms $ease-in-quad);
  cursor: pointer;
  padding: $pad-large $pad-medium 0;
  position: relative;
  display: block;
  width: 100%;
  color: $text-ultradark;
  text-align: left;
  border-radius: 0;

  &:hover {
    background: $bg-medium;
  }

  @media (max-width: 760px) {
    padding: 0;
  }

  &__org {
    @include transition(border 150ms $ease-in-quad);
    @include clearfix;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid $accent-light;
    padding-bottom: $pad-medium;
    max-height: 100px;
  }

  &__logo {
    @include size(42px);
    float: left;
    margin-right: 10px;
    border: 1px solid $accent-medium;
    border-radius: 50%;

    @media (max-width: 760px) {
      margin: $pad-half 5px;
    }
  }

  &__org-name {
    @include ellipsis(110px);
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
    display: block;
    white-space: nowrap;

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__user-status {
    @include size(16px);
    background-color: $warning;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
    position: relative;

    &--enabled {
      background-color: $success;
    }

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__username {
    @include ellipsis(110px);
    margin: 0;
    padding: 0;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    position: relative;
    line-height: 16px;

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__org-chevron {
    @include transition(transform 150ms $ease-in-quad);
    color: $accent-medium;
    font-size: 12px;
    float: right;

    @media (max-width: 760px) {
      float: none;
      text-align: center;
      display: block;
      clear: both;
    }
  }

  &--open {
    background-color: $text-dark;

    .site-nav-header__org {
      border-color: $text-ultradark;
    }

    .site-nav-header__org-name,
    .site-nav-header__username {
      color: $white;
    }

    .site-nav-header__org-chevron {
      @include transform(rotate(180deg));
    }

    &:hover {
      background-color: $text-dark;
    }
  }
}

.user-menu-toggle {
  @include transition(opacity 150ms ease-in-out);
  height: 0;
  background-color: $text-dark;
  width: 222px;
  position: absolute;
  left: 0;
  padding: 0;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  box-sizing: border-box;

  @media (max-width: 760px) {
    width: 53px;
  }

  &--open {
    height: auto;
    padding: $pad-medium 0 0;
    opacity: 1;
  }

  &__avatar {
    @include size(42px);
    float: left;
    border: solid 1px $accent-medium;
    border-radius: 50%;
    margin: 0 10px 0 $pad-medium;

    @media (max-width: 760px) {
      margin: $pad-xsmall 5px;
    }
  }

  &__name,
  &__position {
    @include ellipsis(135px);
    color: $white;
    font-size: $small;
    margin: 0;
    line-height: $large;
    float: left;

    @media (max-width: 760px) {
      display: none;
    }
  }

  &__nav {
    clear: both;
    padding-top: $pad-small;
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__nav-item {
    font-size: $small;
    text-transform: uppercase;

    a {
      @include transition(background 150ms $ease-in-quad);
      letter-spacing: 0.5px;
      color: $white;
      display: block;
      line-height: 50px;
      text-decoration: none;
      padding: 0 $pad-medium;

      i {
        margin-right: $pad-half;
        font-size: $large;
      }

      &:hover {
        background: $accent-text;
      }
    }

    @media (max-width: 760px) {
      span {
        display: none;
      }
    }
  }
}
