.manage-queries-page {
  &__delete-queries-btn {
    font-size: 15px;
    font-weight: $normal;
  }

  &__query-count {
    color: #858495;
    font-size: 14px;
    font-weight: $bold;
    letter-spacing: -0.5px;
    margin: 0;
  }

  &__filter-and-cta {
    @include display(flex);
    @include justify-content(space-between);
    margin-bottom: $pad-small;

    .form-field {
      margin: 0;
    }

    input {
      &[name='query-filter'] {
        width: 240px;
      }
    }
  }

  &__filter-queries {
    position: relative;

    .input-field {
      padding-left: 42px;
    }

    .kolidecon {
      position: absolute;
      top: 12px;
      left: 9px;
      font-size: 18px;
      color: $accent-medium;
    }
  }

  &__title {
    color: $text-dark;
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: $light;
    letter-spacing: -0.5px;

    .number-pill {
      vertical-align: text-bottom;
    }
  }

  &__wrapper {
    padding: $base;
  }
}

