.host-side-panel {
  &__add-label-btn {
    color: $success;
    padding: 0 $pad-large;

    &--icon {
      margin-right: $pad-large;

      &-label {
        margin: 0 0 0 $pad-small;
      }
    }
  }

  &__wrapper {
    color: $text-medium;
    padding: 60px 0 0;
  }

  &__hr {
    color: $text-medium;
    margin: $pad-base $pad-auto;
    width: 80%;
    height: 1px;
    background-color: #ececec;
    border: 0;
  }

  &__panel-group-item {
    background-color: $white;
    color: $text-medium;
    padding: $pad-half $pad-large;

    .title {
      padding-left: 20px;
    }

    .input-field {
      width: 100%;
    }
  }
}
