.app-settings-page {
  padding: $pad-small;

  &__smtp-warning {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    background-color: $alert;
    color: $white;
    padding: 0 $pad-small;

    &-label {
      font-weight: $bold;
      margin-left: 5px;
    }

    button {
      color: white;
      font-size: 15px;
      text-decoration: underline;
    }

    span {
      font-weight: 15px;
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
  }

  h2 {
    border-bottom: 1px dashed $accent-dark;
    font-size: 20px;
    font-weight: $normal;
  }
}
