.invite-user-form {
  &__radio {
    margin-top: 22px;

    .kolide-checkbox__label {
      font-size: 20px;
      font-weight: $light;
      letter-spacing: 1px;
      color: $text-dark;
    }
  }

  &__role {
    color: $brand;
    font-size: $small;
    text-transform: lowercase;
    margin: 0;
  }

  &__btn-wrap {
    @include display(flex);
    @include flex-direction(row-reverse);
  }

  &__btn {
    font-size: $small;
    height: 38px;
    margin-bottom: 5px;
    margin-left: 15px;
    padding: 0;
    width: 120px;
  }
}
