.progress-bar {
  @include display(flex);
  background-color: $success-light;
  height: 10px;
  overflow: hidden;

  &__progress {
    height: 100%;
    overflow: hidden;
    transition: width 300ms ease-in;

    &--error {
      background-color: $alert;
    }

    &--success {
      background-color: $success;
    }
  }
}
