.pack-query-config-form {
  &__body-section {
    background-color: $accent-light;
    padding: 0 $pad-small;
  }

  &__btn-wrapper {
    text-align: right;

    button {
      color: $white;
      cursor: pointer;
      font-size: 15px;
      line-height: 34px;
    }
  }

  &__form-field {
    display: inline-block;
  }

  &__header-section {
    display: flex;
    justify-content: space-between;
    background-color: $brand;
    height: 34px;
    padding: 0 $pad-small;

    span {
      color: $white;
      font-size: 15px;
      font-weight: $bold;
      line-height: 34px;
    }
  }

  &__wrapper {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid $accent-dark;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    height: 122px;
    max-height: 122px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease-in;
    z-index: 1;
  }
}
