.modal {
  &__background {
    background-color: rgba($black, 0.25);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }

  &__content {
    .input-field {
      width: 100%;
    }
  }

  &__ex {
    @include size(30px);
    line-height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;

    .button {
      @include size(30px);
      line-height: 30px;
      color: $text-medium;
      font-size: $larger;

      &:hover {
        color: $alert-light;
      }
    }
  }

  &__header {
    font-size: 24px;
    font-weight: $normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: $text-ultradark;
  }

  &__modal_container {
    background-color: $white;
    left: 25%;
    position: absolute;
    top: 25%;
    width: 600px;
    z-index: 3;
    padding: 30px;
  }
}
