.app-config-form {
  &__avatar-preview {
    text-align: center;

    img {
      border-radius: 80px;
      height: 160px;
      width: 160px;
    }

    p {
      color: $link;
      font-size: 18px;
      font-weight: $bold;
      margin-top: 0;
    }
  }
}
